input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: none;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: green;
}

 #RedMenu {
     background-color: white;
     border-color: transparent;
 }

#RedMenu ul li a {
    color: black;
}

#RedMenu ul li:hover {
    background-color: white;
}
