<!doctype html>
<html>
<head>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
          href="{{ url_for('static',filename='assets/css/style.css')}}">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="{{url_for('static',filename='/assets/js/jquery-bootstrap-modal-steps.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/js/app.js')}}"></script>
</head>
<script>
    function WriteFile()
    {

        var fh = fopen("/Users/charankottapalli/Desktop/myfile.rtf", 3); // Open the file for writing

        if(fh!=-1) // If the file has been successfully opened

        {

            var str = "Some text goes here jnfdksgndgk";

            fwrite(fh, str); // Write the string to a file

            fclose(fh); // Close the file

        }

    }
</script>
<body>

<!-- Button trigger modal -->
<div style="padding-left: 45%;">
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" onclick="writeFile()"> Launch demo modal </button>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="js-title-step"></h4>
      </div>
      <div class="modal-body">
        <div class="row hide" data-step="1" data-title="This is the first step!">
          <div class="well">As you can see, this is the first step!</div>
        </div>
        <div class="row hide" data-step="2" data-title="This is the second and last step!">
          <div class="well">As you can see, this is the second and last step!</div>
        </div>
      </div>
    </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default js-btn-step pull-left" data-orientation="cancel" data-dismiss="modal"></button>
        <button type="button" class="btn btn-warning js-btn-step" data-orientation="previous"></button>
        <button type="button" class="btn btn-success js-btn-step" data-orientation="next"></button>
      </div>
    </div>
  </div>

</body>
</html>
